


@{
    ViewData["Title"] = "Available Car's";
}

<h1>Catalog here</h1>

<div id="catalog">


</div>

@section Styles {
    <link href = "/css/catalog.css" rel="stylesheet">
}

@section Scripts {
    <script src="/js/catalog.js"></script>
}